/* File: src/components/AddressSelector/AddressSelector.css */

.address-selector {
    position: relative;
  }
  
  .autocomplete-dropdown-container {
    position: absolute;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .suggestion-item {
    padding: 10px;
  }
  
  .suggestion-item--active {
    background-color: #fafafa;
  }
  